window {
    background-color: black;
}
body { 

}

.header_color {

}
.headZwart {

}
.headGroen {

}
.headNav {

}
.headNavLogo {

}
.HeadNavNavigatie {

}
.headMidden {

}
.headButton {

}
.headBeneden {

}.fa {
  width: 60px;
  color:black;
}